<html>
<head>
    <title>{% block title %}Task Manager{% endblock %}</title>

    {% block head %}
    <link rel="stylesheet" href="static/css/style.css" />
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    {% endblock %}
    
</head>
<body>
    <header> header wow </header>

    {% block content %}
    <h1>This is a blank page wow</h1>
    {% endblock %}

    <footer> footer wow</footer>
</body>
</html>