<html>
<head>
    <title>{% block title %}Task Manager{% endblock %}</title>

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />

    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>

    <script src="
    https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js
    "></script>
    {% endblock %}
    
</head>
<body>
    <header>
        <a href="{{ url_for('users.login') }}">login</a>
        <a href="{{ url_for('users.register') }}">register</a>
        <a href="{{ url_for('profile') }}">profile</a>
    </header>

    <div class="content">
        {% block content %}
        <h1>This is a blank page wow</h1>
        {% endblock %}
    </div>

    <footer> footer wow</footer>
</body>
</html>